<div id="root">
    <h1>No Reaction</h1>
  </div>
  
  <script type="text/javascript" >
    window.images = {
      blankCharacter: '<%= asset_path('images/landing/blankCharacter.png') %>',
    }
  </script>